.job {
  margin-bottom: 28px;

  &__header {
    overflow: auto;
    padding-bottom: 10px;
  }

  &__pic {
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    margin-right: 15px;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  &__info {
    display: inline-block;
  }

  &_pic_dbtc .job__pic {
    height: height(pics/dbtc.png);
    width: width(pics/dbtc.png);
    background-image: inline(pics/dbtc.png);
  }

  &_pic_yandex .job__pic {
    height: height(pics/yandex.png);
    width: width(pics/yandex.png);
    background-image: inline(pics/yandex.png);
  }

  &_pic_huawei .job__pic {
    height: height(pics/huawei.png);
    width: width(pics/huawei.png);
    background-image: inline(pics/huawei.png);
  }

  &__title {
    font-weight: bold;
    font-size: 1.2em;
  }

  &__pic ~ &__title {
    margin-top: 8px;
  }

  &__dates {
    color: #777;
  }

  @media (max-width: 340px) {
    &__pic {
      display: none;
    }

    &__pic ~ &__title {
      margin-top: 0;
    }
  }
}
