:block(job) {
  &:elem(header) {
    background-repeat: no-repeat;
    background-position: left;
    box-sizing: border-box;
  }
  &:mod(pic, yandex) :elem(header) {
    min-height: height(pics/yandex.png);
    background-image: inline(pics/yandex.png);
    padding-left: width(pics/yandex.png);
  }
  &:mod(pic, huawei) :elem(header) {
    min-height: height(pics/huawei.png);
    background-image: inline(pics/huawei.png);
    padding-left: width(pics/huawei.png);
  }
}
