:block(info) {
  column-count: 2;
  margin: 0;
  padding: 16px 0;
  display: block;
  font-size: 1em;

  @media (max-width: 760px) {
    column-count: 1;
  }

  &:elem(key) {
    display: inline-block;
    margin-right: 8px;
    font-weight: bold;
  }

  &:elem(val) {
    display: inline-block;
    margin: 0;
  }

  &:elem(val-list) {
    list-style: none;
    vertical-align: top;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  &:elem(val-list-item) {
    list-style: none;
    padding: 0;
  }

  &:elem(link) {
    text-decoration: none;
    color: #00e;
  }
}
