:block(section) {
  &:elem(title) {
    position: relative;
    &:after: {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: -5px;
      height: 0;
      border-bottom: 3px solid #002060;
    }
  }
}
