.photo {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;

  width: width(pics/incrop.jpg);
  height: height(pics/incrop.jpg);
  background: inline(pics/incrop.jpg);
  -webkit-print-color-adjust: exact;
  color-adjust: exact;

  @media not print {
    @media (max-width: 570px) {
      float: none;
    }
  }
}
