.photo {
  float: left;
  margin-right: 30px;

  width: width(pics/incrop.jpg);
  height: height(pics/incrop.jpg);
  background: inline(pics/incrop.jpg);

  @media (max-width: 560px) {
    display: none;
  }
}
