:block(paper) {
  max-width: 1200px;
  background: #fff;
  margin: 20px auto;
  padding: 80px;
  box-sizing: border-box;
  box-shadow: 5px 5px 3px #000;

  @media (max-width: 1200px) {
    margin: 0;
    padding: 40px;
  }

  @media (max-width: 560px) {
    padding: 20px;
  }
}
