name: Deploy cv

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - run: |
        (umask 077; echo "${{ secrets.DEPLOY_KEY }}" > id_rsa)
        scp -o StrictHostKeyChecking=no -i id_rsa -r ./* "${{ secrets.DEPLOY_DEST }}"
